.post-list-group {

    margin-bottom: 1em;
}

.post-list-group-meta {
    margin-bottom: 1em;
    padding: .4em;
    background-color: #c8d0da;
}

.post-list-group-content {
}

.post-list-group-content .post {
    margin-bottom: 1em;
    padding: .4em;
    background-color: #ebf1ea;
}

.post .post-content img {
    max-width: 100%;
}



.post-list-group .post form .buttons {
    display:none;
}

.post-list-group .post form textarea {
    width: 100%;
    height: 38px;
}


.post-list-group .post form.selected textarea {
    height: 120px;
}

.post-list-group .post form.selected .buttons {
    display:block;
}




#main .post-title h4 {
    height: 1em;
    overflow: hidden;
}

#main .post-content {
    line-height: 1.4em;
    max-height: 5.6em;
    overflow: hidden;
}


/* THIS IS FOR WHAT?
#main .post.open .post-title h4 {
    height: auto;
    overflow: auto;
}


#main .post.open .post-content {
    max-height: none;
    overflow: auto;
}

*/