/**
 *
 */
body > section.page > div.page-content {
  background-color: #fbfbfb;
  font-size: 12pt;
  font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif; }

body > section.page h1, body > section.page h2, body > section.page h3, body > section.page h4, body > section.page h5, body > section.page h6,
body > section.page div, body > section.page span,
body > section.page a {
  font-family: "Malgun Gothic", "AppleGothic", "Gulim", serif; }

.page-content {
  padding: .4em; }

.post-write-form, .post-edit-form, .comment-edit-form {
  margin: 0  0 .2rem;
  padding: .3rem;
  background-color: grey; }

.post-list-page {
  margin-bottom: 1rem; }
  .post-list-page .header {
    margin-bottom: 1rem;
    padding: .4rem;
    background-color: #d5dde8; }
  .post-list-page .post {
    margin-bottom: 1rem;
    padding: .4rem;
    background-color: #ebf1ea;
    word-break: break-all; }
    .post-list-page .post .meta {
      margin: 0 0 0.4rem; }
      .post-list-page .post .meta .info {
        margin: 0 0 0.4rem;
        padding: 0.3rem;
        background-color: #fbfbfb; }
      .post-list-page .post .meta .buttons {
        padding: 0.3rem;
        font-size: 9pt; }
        .post-list-page .post .meta .buttons span {
          cursor: pointer; }
    .post-list-page .post .title {
      display: block;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-size: 1.6rem !important;
      color: #222; }
      .post-list-page .post .title:hover {
        color: #02E;
        text-decoration: none; }
    .post-list-page .post .content {
      line-height: 1.4em;
      max-height: 5.6em;
      overflow: hidden; }
      .post-list-page .post .content img {
        max-width: 100%; }

.comments .buttons {
  font-size: 9pt; }

.comment .comment-content {
  padding: .4rem;
  background-color: #fbfbfb; }
.comment[depth='1'] {
  margin-left: 0; }
.comment[depth='2'] {
  margin-left: 1em;
  background-color: #eff3f3; }
.comment[depth='3'] {
  margin-left: 2em;
  background-color: #d0e0e0; }
.comment[depth='4'] {
  margin-left: 3em;
  background-color: #c0d0d0; }
.comment[depth='5'] {
  margin-left: 5em;
  background-color: #c0d0d0; }
.comment[depth='6'] {
  margin-left: 5.5em;
  background-color: #cdcdcd; }
.comment[depth='7'] {
  margin-left: 6em;
  background-color: #c0d0d0; }
.comment[depth='8'] {
  margin-left: 6.4em;
  background-color: #c0d0d0; }
.comment[depth='9'] {
  margin-left: 6.8em;
  background-color: #c0d0d0; }
.comment[depth='10'] {
  margin-left: 7.2em;
  background-color: #c0d0d0; }
.comment[depth='11'] {
  margin-left: 7.6em;
  background-color: #c0d0d0; }

.post-write-form [name="content"] {
  height: 10em; }

.post-edit-form [name="content"] {
  height: 10em; }

.comment-edit-form [name="comment_content"] {
  width: 100%;
  height: 10em; }

.comment-write-form .buttons {
  display: none; }
.comment-write-form .fa-camera {
  font-size: 1.6em; }
.comment-write-form textarea {
  width: 100%;
  height: 2em; }
.comment-write-form.selected {
  padding: 0.3rem;
  background-color: #e9e9e9; }
  .comment-write-form.selected .fa-camera {
    font-size: 2em; }
  .comment-write-form.selected textarea {
    height: 120px; }
  .comment-write-form.selected .buttons {
    display: block; }

/*# sourceMappingURL=main.css.map */
