

.post .post-title {
    display: block;
    font-size: 1.4rem;
}
.page-content {
    padding: .4em;
}

.post-list-page {
    margin-bottom: 1em;
}

.post-list-page-header {
    margin-bottom: 1em;
    padding: .4em;
    background-color: #d5dde8;
}

.post-list-page-content {

}

.post-list-page-content .post {
    margin-bottom: 1em;
    padding: .4em;
    background-color: #ebf1ea;
    word-break: break-all;
}

.post .post-content img {
    max-width: 100%;
}



.post-list-page .post .comment-write-form .buttons {
    display:none;
}

.post-list-page .post .comment-write-form textarea {
    width: 100%;
    height: 38px;
}


.post-list-page .post .comment-write-form.selected textarea {
    height: 120px;
}

.post-list-page .post .comment-write-form.selected .buttons {
    display:block;
}




.page-content-main .post-title h4 {
    height: 1em;
    overflow: hidden;
}

.page-content-main .post-content {
    line-height: 1.4em;
    max-height: 5.6em;
    overflow: hidden;
}


/* post edit */
.post-edit-form {
    background-color: grey;
}