$margin-post-item: 0 0 .4rem;
$padding-post-item: .3rem;
$button-font-size: 9pt;

%post-form-box {
    margin: 0  0 .2rem;
    padding: .3rem;
    background-color: grey;
}
@mixin post-form {
    @extend %post-form-box;
    [name="title"] {
    }
    [name="content"] {
        height: 10em;
    }
}
@mixin post-padding {
    padding: .4rem;
}

.post-list-page {
    margin-bottom: 1rem;

    .header {
        margin-bottom: 1rem;
        padding: .4rem;
        background-color: #d5dde8;
    }

    .posts {

    }
    .post {

        margin-bottom: 1rem;
        padding: .4rem;
        background-color: #ebf1ea;
        word-break: break-all;

        .meta {
            margin: $margin-post-item;
            .info {
                margin: $margin-post-item;
                padding: $padding-post-item;
                background-color: $color-background;
            }
            .buttons {
                padding: $padding-post-item;
                font-size: $button-font-size;
                span {
                    cursor: pointer;
                }
            }
        }

        .title {
            display: block;
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-size: 1.6rem!important;
            color: #222;
            &:hover {
                color: #02E;
                text-decoration: none;
            }
        }


        .content {
            line-height: 1.4em;
            max-height: 5.6em;
            overflow: hidden;
            
            img {
                max-width: 100%;
            }
        }

    } // eo .post

}

/// comments ( list ) of all comment node
.comments {
    .buttons {
        font-size: $button-font-size;
    }
}

/// comment node
.comment {
    .comment-content {
        @include post-padding;
        background-color: $color-background;
    }
    &[depth='1'] { margin-left: 0; }
    &[depth='2'] { margin-left: 1em; background-color: #eff3f3; }
    &[depth='3'] { margin-left: 2em; background-color: #d0e0e0; }
    &[depth='4'] { margin-left: 3em; background-color: #c0d0d0; }
    &[depth='5'] { margin-left: 5em; background-color: #c0d0d0; }
    &[depth='6'] { margin-left: 5.5em; background-color: #cdcdcd; }
    &[depth='7'] { margin-left: 6em; background-color: #c0d0d0; }
    &[depth='8'] { margin-left: 6.4em; background-color: #c0d0d0; }
    &[depth='9'] { margin-left: 6.8em; background-color: #c0d0d0; }
    &[depth='10'] { margin-left: 7.2em; background-color: #c0d0d0; }
    &[depth='11'] { margin-left: 7.6em; background-color: #c0d0d0; }

}

/// POST WRITE FORM
.post-write-form {
    @include post-form;
}

/// POST EDIT FORM
.post-edit-form {
    @include post-form;
}

/// COMMENT EDIT FORM
.comment-edit-form {
    @extend %post-form-box;
    [name="comment_content"] {
        width: 100%;
        height: 10em;
    }
}

/// COMMENT WRITE FORM ( Under a post or under a comment ( of another comment ) ).
.comment-write-form {
    .buttons {
        display:none;
    }
    .fa-camera {
        font-size: 1.6em;
    }
    textarea {
        width: 100%;
        height: 2em;
    }
    &.selected {
        padding: $padding-post-item;
        background-color: $color-background-focus;
        .fa-camera {
            font-size: 2em;
        }
        textarea {
            height: 120px;
        }
        .buttons {
            display:block;
        }
    }
} // eo .comment-write-form